.App {
	width: 100vmin;
	height: 100vmin;
	text-align: center;
	background-color: black;
}

.PaginadeRegistro {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
		url("../src/Assets/Carros.jpg") no-repeat center top;
	background-size: cover;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.NavBar-Logo {
	width: 300px;
	margin: 20px;
}

.PaginaDeRegistro-Formurlario {
	width: 250px;
	height: 250px;
	margin: 20px;
	padding: 10px;
	background-color: rgba(48, 48, 48, 0.8);
	border-radius: 10px;
}

.Bienvenido {
	font-size: 24px;
	margin-bottom: 5px;
}
.Frase {
	font-weight: 300;
	margin: 5px;
}

.Botones-Ingreso {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	display: grid;
	grid-template-columns: 250px;
	grid-template-rows: 40px 40px 40px;
	grid-gap: 10px;
}

.Boton-IniciarSesion {
	border-radius: 20px;

	font-weight: 600;
	font-size: 15px;
	background: #e0c408c9;
	border-color: black;
	color: white;
	cursor: pointer;
}

.Boton-Registrarse {
	border-radius: 20px;
	font-weight: 600;
	font-size: 15px;
	background: #e0c408c9;
	border-color: black;
	color: white;
	cursor: pointer;
}

.Boton-CrearEmpresa {
	border-radius: 20px;
	font-weight: 600;
	font-size: 15px;
	background: #e0c408c9;
	border-color: black;
	color: white;
	cursor: pointer;
}

@media screen and (min-width: 768px) {
	.PaginadeRegistro {
		width: 768px;
		height: 529px;
	}
	.PaginaDeRegistro-Formurlario {
		width: 290px;
		height: 250px;
	}
}

@media screen and (min-width: 992px) {
	.PaginadeRegistro {
		width: 1024px;
		height: 529px;
	}

	.NavBar-Logo {
		width: 400px;
		height: 400px;
	}

	.PaginaDeRegistro-Formurlario {
		width: 350px;
		height: 300px;
	}
	.Botones-Ingreso {
		grid-gap: 30px;
	}

	.Bienvenido {
		font-size: 30px;
	}

	.Frase {
		font-weight: 500;
	}
}

@media screen and (min-width: 1200px) {
	.PaginadeRegistro {
		width: 1440px;
		height: 540px;
	}

	.NavBar-Logo {
		width: 500px;
		height: 500px;
	}

	.PaginaDeRegistro-Formurlario {
		width: 350px;
		height: 300px;
	}
	.Botones-Ingreso {
		grid-gap: 30px;
	}

	.Bienvenido {
		font-size: 30px;
	}

	.Frase {
		font-weight: 500;
	}
}
